<h1>Editare caz</h1>
<button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
</button>

<form id="edit-post" data-abide novalidate>
    <div class="row">
        <div class="small-12 columns current-images">
        </div>
    </div>

    <div class="row">
        <div class="small-12 columns upload-images">
            <label for="image-upload-input">
                <input type="file" id="image-upload-input" multiple accept="image/*">
                <span class="button" id="image-upload-button">Adauga poze</span>
            </label>
            <ul class="files-list">

            </ul>
        </div>
    </div>

    <div class="row">
        <div class="small-12 columns section-title">
            <label for="case-name">Numele cazului
                <input type="text" name="title" id="title" value="{{title}}" required>
                <span class="form-error">Completarea campului este obligatorie</span>
            </label>
        </div>
    </div>

    <div class="row">
        <div class="small-12 columns section-title">
            Date de contact ale pesoanei care raporteaza
        </div>
    </div>

    <div class="row">
        <div class="small-6 columns">
            <label for="reporter-last-name">Numele
                <input type="text" name="reporter-last-name" id="reporter-last-name" value="{{reporter_last_name}}">
            </label>
        </div>
        <div class="small-6 columns">
            <label for="reporter-first-name">Prenumele
                <input type="text" name="reporter-first-name" id="reporter-first-name" value="{{reporter_first_name}}">
            </label>
        </div>
    </div>

    <div class="row">
        <div class="small-12 medium-4 columns">
            <label for="reporter-cnp">C.N.P.
                <input type="text" name="reporter-cnp" id="reporter-cnp" value="{{reporter_cnp}}">
            </label>
        </div>
        <div class="small-12 medium-4 columns">
            <label for="reporter-ci-series">C.I. Seria
                <input type="text" name="reporter-ci-series" id="reporter-ci-series" value="{{reporter_ci_series}}">
            </label>
        </div>
        <div class="small-12 medium-4 columns">
            <label for="reporter-ci-number">C.I. Numar
                <input type="text" name="reporter-ci-number" id="reporter-ci-number" value="{{reporter_ci_number}}">
            </label>
        </div>
    </div>

    <div class="row">
        <div class="small-12 columns">
            <label for="reporter-phone">Numar de telefon
                <input type="tel" name="reporter-phone" id="reporter-phone" pattern="number" value="{{reporter_phone}}">
            </label>
        </div>
    </div>

    <div class="row">
        <div class="small-12 columns">
            <label for="reporter-email">Email
                <input type="email" name="reporter-email" id="reporter-email" value="{{reporter_email}}">
            </label>
        </div>
    </div>

    <div class="row">
        <div class="small-12 columns section-title">
            Date despre persoana in cauza
        </div>
    </div>

    <div class="row">
        <div class="small-6 columns">
            <label for="person-last-name">Numele <b>persoanei in cauza</b>
                <input type="text" name="person-last-name" id="person-last-name" value="{{person_last_name}}">
            </label>
        </div>
        <div class="small-6 columns">
            <label for="person-first-name">Prenumele <b>persoanei in cauza</b>
                <input type="text" name="person-first-name" id="person-first-name" value="{{person_first_name}}">
            </label>
        </div>
    </div>

    <div class="row">
        <div class="small-12 medium-4 columns">
            <label for="person-cnp">C.N.P.
                <input type="text" name="person-cnp" id="person-cnp" value="{{person_cnp}}">
            </label>
        </div>
        <div class="small-12 medium-4 columns">
            <label for="person-ci-series">C.I. Seria
                <input type="text" name="person-ci-series" id="person-ci-series" value="{{person_ci_series}}">
            </label>
        </div>
        <div class="small-12 medium-4 columns">
            <label for="person-ci-number">C.I. Numar
                <input type="text" name="person-ci-number" id="person-ci-number" value="{{person_ci_number}}">
            </label>
        </div>
    </div>

    <div class="row">
        <div class="small-12 medium-6 columns">
            <label for="person-county">Judet
                <select name="person-county" id="person-county"><!-- ADD REQUIRED -->
                    <option value="0">Alege</option>
                    {{#each counties}}
                        <option value="{{id}}">{{name}}</option>
                    {{/each}}
                </select>
            </label>
        </div>
        <div class="small-12 medium-6 columns">
            <label for="person-city">Localitate
                <input type="text" name="person-city" id="person-city" value="{{person_city}}">
            </label>
        </div>
    </div>

    <div class="row">
        <div class="small-12 columns">
            <label for="person-address">Alte detalii adresa (strada,numar,etc.)
                <input type="text" name="person-address" id="person-address" value="{{person_address}}">
            </label>
        </div>
    </div>

    <div class="row">
        <div class="small-12 columns">
            <label for="person-description">Descriere
                <textarea type="text" name="person-description" id="person-description" maxlength="1000" value="{{person_description}}"></textarea>
            </label>
        </div>
    </div>

    <div class="row">
        <div class="small-12 medium-6 columns">
            <label for="person-money-total">
                        <span class="row">
                            <span class="small-12 columns">Suma necesara</span>
                        </span>
                        <span class="row">
                            <span class="small-10 columns"><input type="text" name="person-money-total" id="person-money-total" value="{{person_money_total}}"></span>
                            <span class="small-2 columns">RON</span>
                        </span>
            </label>
        </div>
        <div class="small-12 medium-6 columns">
            <label for="person-money-partial">
                        <span class="row">
                            <span class="small-12 columns">Suma stransa</span>
                        </span>
                        <span class="row">
                            <span class="small-10 columns"><input type="text" name="person-money-partial" id="person-money-partial" value="{{person_money_partial}}"></span>
                            <span class="small-2 columns">RON</span>
                        </span>
            </label>
        </div>
    </div>

    <div class="row">
        <div class="small-12 columns text-center">
            <button class="button save-button" value="Salveaza" type="submit">Salveaza</button>
        </div>
    </div>
</form>