<ul class="pagination text-center" role="navigation" aria-label="Pagination">
    {{#unless (eq last_page 0)}}
        {{#unless (eq current_page last_page)}}
            <li class="pagination-previous {{sif prev_page_url '' 'disabled'}}">Înapoi</li>
        {{/unless}}
        <li class="current"><span class="show-for-sr">Ești pe pagina</span> {{current_page}}</li>
        {{#unless (eq current_page last_page)}}
            <li class="ellipsis"></li>
            <li><a href="#" aria-label="Pagina {{last_page}}">{{last_page}}</a></li>
            <li class="pagination-next {{sif next_page_url '' 'disabled'}}"><a href="#" aria-label="Următoarea pagină">Înainte</a>
            </li>
        {{/unless}}
    {{/unless}}
</ul>